@using OthelloProject.Models.Methods
@model UserDetails;

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6">

        @if (!string.IsNullOrWhiteSpace(ViewBag.Message as string))
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.Message
            </div>
        }
        else if (!string.IsNullOrWhiteSpace(TempData["LoginMessage"] as string))
        {
            <div class="alert alert-success" role="alert">
                @TempData["LoginMessage"]
            </div>
        }

        <form asp-controller="User" asp-action="Login" method="post" class="othello-form fra-border">
            <div class="othello-form-group">
                <label class="othello-label" asp-for="Username">Username</label>
                <input class="othello-input" required asp-for="Username"/>
            </div>

            <div class="othello-form-group">
                <label class="othello-label" required asp-for="Password">Password</label>
                <input class="othello-input" type="password" required asp-for="Password"/>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="othello-btn">Login</button>
                <a class="othello-btn-back" asp-controller="User" asp-action="RegisterUser">Register</a>
            </div>
            <div class="mt-2">
                <a asp-controller="User" asp-action="ForgotPassword" class="forgot-link">Forgot password?</a>
            </div>
        </form>
    </div>
</div>
