@{
    ViewData["Title"] = "Register user";
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Message as string))
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Message
    </div>
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
	<div class="col-md-6">

		<form asp-action="RegisterUser" method="post" class="othello-form">
			<div class="othello-form-group">
				<label class="othello-label" for="Username">Username</label>
				<input class="othello-input" id="Username" name="Username" required />
			</div>

			<div class="othello-form-group">
				<label class="othello-label" for="Email">E-mail</label>
				<input class="othello-input" type="email" id="Email" name="Email" required />
			</div>

			<div class="othello-form-group">
				<label class="othello-label" for="Password">Passowrd</label>
				<input class="othello-input" type="password" id="Password" name="Password" required />
			</div>

			<div class="d-flex gap-2">
				<button type="submit" class="othello-btn">Register</button>
				<a class="othello-btn-back" asp-controller="User" asp-action="Login">Go back</a>
			</div>
		</form>
	</div>
</div>
