@model OthelloProject.Models.Details.LoginViewModel

@{
    ViewData["Title"] = "Logga in";
}

<h2>Logga in</h2>

<form asp-action="Index" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Logga in</button>
</form>

<p>
    Har du inget konto?
    <a asp-action="Register">Registrera dig här</a>
</p>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}