@{
    ViewData["Title"] = "Registrera";
}

<div class="alert alert-info" role="alert">
    Registreringen hanteras nu av <strong>UserController</strong>. Klicka på knappen nedan för att gå vidare.
 </div>

<a class="btn btn-primary" asp-controller="User" asp-action="RegisterUser">Gå till registrering</a>
