@using OthelloProject.Models.Methods
@model List<GameDetails>

@* Render the list of available games with join actions based on status. *@
<table class="othello-table mb-3">
	<tr>
		<th class="othello-label text-center">Game</th>
		<th class="othello-label text-center">Status</th>
		<th class="othello-label text-center" style="white-space: nowrap;">Join</th>
	</tr>

	@foreach (GameDetails availableGames in Model)
	{
		<tr class="othello-input">
			@* Hide finished games from the list. *@
			@if (availableGames.GameStatus != "Finished")
			{
				<td class="text-center">@availableGames.GameName</td>
				<td class="text-center">@availableGames.GameStatus</td>
				<td class="text-center" style="white-space: nowrap;">
					@* Only allow joining if the game is waiting for players. *@
					@if (availableGames.GameStatus == "Waiting")
					{
						<a type="submit" class="othello-nav-link" asp-controller="Games" asp-action="JoinGame"
							asp-route-GameID="@availableGames.GameID">
							Join game
						</a>
					}
					else
					{
						<span>Game in progress</span>
					}
				</td>
			}

		</tr>
	}
</table>
