@using Microsoft.IdentityModel.Tokens
@using OthelloProject.Models.Methods
@using System.Diagnostics.Eventing.Reader
@model List<GameDetails>

@{
	ViewData["Title"] = "Inloggad";
}

<h1>Available games</h1>

@if (Model.IsNullOrEmpty())
{
	<h5>@ViewBag.NoGames</h5>
}
else
{
	<table class="table">
		<tr>
			<th>Player</th>
			<th>Status</th>
			<th>Join button</th>
		</tr>


		@foreach (GameDetails availableGames in Model)
		{
			<tr>
				<td>@availableGames.GameName</td>
				<td>@availableGames.GameStatus</td>
				<td>
					@if(availableGames.GameStatus == "Waiting"){
							<a type="submit" class="btn btn-primary" asp-controller="Games" asp-action="JoinGame" asp-route-GameID="@availableGames.GameID">Join game</a>
					}
					else{
						<span>Game in progress</span>
					}
				</td>
			</tr>
		}

	</table>
}

<a type="submit" class="btn btn-primary" asp-controller="Games" asp-action="AddGame">Add game</a>